CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
ztest
*.doc
*.docx
*.ppt
*~
HTML
*.html
html
*.htm
*tags
*path
*PATH
*TAGS
*.css
*.db
.directory
.dropbox*
*.txt
*.mp3
*.wav
music_source
*.gz
*.tar
*.gz2
*.o
7_10
.*swp